-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."Weekday" AS ENUM ('MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY');

-- CreateEnum
CREATE TYPE "public"."AvailabilitySource" AS ENUM ('WEEKLY', 'SPECIFIC_DATE');

-- CreateEnum
CREATE TYPE "public"."AppointmentStatus" AS ENUM ('PENDING', 'CONFIRMED', 'ATTENDED', 'ABSENT', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."WaStatus" AS ENUM ('DISCONNECTED', 'CONNECTING', 'CONNECTED');

-- CreateEnum
CREATE TYPE "public"."MessageDirection" AS ENUM ('OUTBOUND', 'INBOUND');

-- CreateEnum
CREATE TYPE "public"."MessageType" AS ENUM ('APPOINTMENT_CREATED', 'APPOINTMENT_REMINDER', 'APPOINTMENT_RESCHEDULED', 'APPOINTMENT_CANCELLED', 'PATIENT_REPLY', 'SYSTEM');

-- CreateTable
CREATE TABLE "public"."Professional" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "phone" TEXT,
    "timezone" TEXT NOT NULL DEFAULT 'America/Argentina/Buenos_Aires',
    "consultationMinutes" INTEGER NOT NULL DEFAULT 30,
    "bufferMinutes" INTEGER NOT NULL DEFAULT 10,
    "minRescheduleHours" INTEGER NOT NULL DEFAULT 4,
    "standardFee" DECIMAL(10,2) NOT NULL,
    "reminderHours" INTEGER NOT NULL DEFAULT 24,
    "waInstanceName" TEXT,
    "waStatus" "public"."WaStatus" NOT NULL DEFAULT 'DISCONNECTED',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Professional_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."WeeklyAvailability" (
    "id" TEXT NOT NULL,
    "professionalId" TEXT NOT NULL,
    "weekday" "public"."Weekday" NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WeeklyAvailability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SpecificDateAvailability" (
    "id" TEXT NOT NULL,
    "professionalId" TEXT NOT NULL,
    "date" DATE NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SpecificDateAvailability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AvailabilityRange" (
    "id" TEXT NOT NULL,
    "startTime" TEXT NOT NULL,
    "endTime" TEXT NOT NULL,
    "weeklyAvailabilityId" TEXT,
    "specificDateAvailabilityId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AvailabilityRange_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Patient" (
    "id" TEXT NOT NULL,
    "professionalId" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "email" TEXT,
    "dni" TEXT,
    "birthDate" DATE,
    "notes" TEXT,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Patient_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Appointment" (
    "id" TEXT NOT NULL,
    "professionalId" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "startAt" TIMESTAMP(3) NOT NULL,
    "endAt" TIMESTAMP(3) NOT NULL,
    "durationMinutes" INTEGER NOT NULL,
    "bufferMinutes" INTEGER NOT NULL,
    "status" "public"."AppointmentStatus" NOT NULL DEFAULT 'PENDING',
    "fee" DECIMAL(10,2) NOT NULL,
    "reason" TEXT,
    "cancelledAt" TIMESTAMP(3),
    "attendedAt" TIMESTAMP(3),
    "reminderScheduledFor" TIMESTAMP(3),
    "reminderSentAt" TIMESTAMP(3),
    "reminderJobId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Appointment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Revenue" (
    "id" TEXT NOT NULL,
    "professionalId" TEXT NOT NULL,
    "appointmentId" TEXT,
    "amount" DECIMAL(10,2) NOT NULL,
    "occurredAt" TIMESTAMP(3) NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Revenue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Expense" (
    "id" TEXT NOT NULL,
    "professionalId" TEXT NOT NULL,
    "concept" TEXT NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL,
    "occurredAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Expense_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."MessageLog" (
    "id" TEXT NOT NULL,
    "professionalId" TEXT NOT NULL,
    "patientId" TEXT,
    "appointmentId" TEXT,
    "direction" "public"."MessageDirection" NOT NULL,
    "messageType" "public"."MessageType" NOT NULL,
    "toPhone" TEXT,
    "fromPhone" TEXT,
    "content" TEXT NOT NULL,
    "sentAt" TIMESTAMP(3),
    "receivedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MessageLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."WebhookEventLog" (
    "id" TEXT NOT NULL,
    "professionalId" TEXT,
    "source" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "processedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WebhookEventLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Professional_slug_key" ON "public"."Professional"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Professional_email_key" ON "public"."Professional"("email");

-- CreateIndex
CREATE INDEX "WeeklyAvailability_professionalId_idx" ON "public"."WeeklyAvailability"("professionalId");

-- CreateIndex
CREATE UNIQUE INDEX "WeeklyAvailability_professionalId_weekday_key" ON "public"."WeeklyAvailability"("professionalId", "weekday");

-- CreateIndex
CREATE INDEX "SpecificDateAvailability_professionalId_date_idx" ON "public"."SpecificDateAvailability"("professionalId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "SpecificDateAvailability_professionalId_date_key" ON "public"."SpecificDateAvailability"("professionalId", "date");

-- CreateIndex
CREATE INDEX "AvailabilityRange_weeklyAvailabilityId_idx" ON "public"."AvailabilityRange"("weeklyAvailabilityId");

-- CreateIndex
CREATE INDEX "AvailabilityRange_specificDateAvailabilityId_idx" ON "public"."AvailabilityRange"("specificDateAvailabilityId");

-- CreateIndex
CREATE INDEX "Patient_professionalId_lastName_firstName_idx" ON "public"."Patient"("professionalId", "lastName", "firstName");

-- CreateIndex
CREATE INDEX "Patient_professionalId_createdAt_idx" ON "public"."Patient"("professionalId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Patient_professionalId_phone_key" ON "public"."Patient"("professionalId", "phone");

-- CreateIndex
CREATE UNIQUE INDEX "Patient_professionalId_dni_key" ON "public"."Patient"("professionalId", "dni");

-- CreateIndex
CREATE INDEX "Appointment_professionalId_startAt_idx" ON "public"."Appointment"("professionalId", "startAt");

-- CreateIndex
CREATE INDEX "Appointment_professionalId_status_startAt_idx" ON "public"."Appointment"("professionalId", "status", "startAt");

-- CreateIndex
CREATE INDEX "Appointment_patientId_startAt_idx" ON "public"."Appointment"("patientId", "startAt");

-- CreateIndex
CREATE UNIQUE INDEX "Revenue_appointmentId_key" ON "public"."Revenue"("appointmentId");

-- CreateIndex
CREATE INDEX "Revenue_professionalId_occurredAt_idx" ON "public"."Revenue"("professionalId", "occurredAt");

-- CreateIndex
CREATE INDEX "Expense_professionalId_occurredAt_idx" ON "public"."Expense"("professionalId", "occurredAt");

-- CreateIndex
CREATE INDEX "MessageLog_professionalId_createdAt_idx" ON "public"."MessageLog"("professionalId", "createdAt");

-- CreateIndex
CREATE INDEX "MessageLog_professionalId_messageType_idx" ON "public"."MessageLog"("professionalId", "messageType");

-- CreateIndex
CREATE INDEX "WebhookEventLog_professionalId_createdAt_idx" ON "public"."WebhookEventLog"("professionalId", "createdAt");

-- CreateIndex
CREATE INDEX "WebhookEventLog_source_eventType_idx" ON "public"."WebhookEventLog"("source", "eventType");

-- AddForeignKey
ALTER TABLE "public"."WeeklyAvailability" ADD CONSTRAINT "WeeklyAvailability_professionalId_fkey" FOREIGN KEY ("professionalId") REFERENCES "public"."Professional"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SpecificDateAvailability" ADD CONSTRAINT "SpecificDateAvailability_professionalId_fkey" FOREIGN KEY ("professionalId") REFERENCES "public"."Professional"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AvailabilityRange" ADD CONSTRAINT "AvailabilityRange_weeklyAvailabilityId_fkey" FOREIGN KEY ("weeklyAvailabilityId") REFERENCES "public"."WeeklyAvailability"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AvailabilityRange" ADD CONSTRAINT "AvailabilityRange_specificDateAvailabilityId_fkey" FOREIGN KEY ("specificDateAvailabilityId") REFERENCES "public"."SpecificDateAvailability"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Patient" ADD CONSTRAINT "Patient_professionalId_fkey" FOREIGN KEY ("professionalId") REFERENCES "public"."Professional"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_professionalId_fkey" FOREIGN KEY ("professionalId") REFERENCES "public"."Professional"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Revenue" ADD CONSTRAINT "Revenue_professionalId_fkey" FOREIGN KEY ("professionalId") REFERENCES "public"."Professional"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Revenue" ADD CONSTRAINT "Revenue_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES "public"."Appointment"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Expense" ADD CONSTRAINT "Expense_professionalId_fkey" FOREIGN KEY ("professionalId") REFERENCES "public"."Professional"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MessageLog" ADD CONSTRAINT "MessageLog_professionalId_fkey" FOREIGN KEY ("professionalId") REFERENCES "public"."Professional"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WebhookEventLog" ADD CONSTRAINT "WebhookEventLog_professionalId_fkey" FOREIGN KEY ("professionalId") REFERENCES "public"."Professional"("id") ON DELETE SET NULL ON UPDATE CASCADE;

